
@include custom-buttons(map-get($palettes, buttons));

.vignette {
  &-wrapper {
    overflow: hidden;
    position: relative;
    min-height: 300px;
    max-width: 700px;
    margin-bottom: 20px;
    @include shadow-box();
  }
  &-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 145%;
    transition: all 0.3s;
    &:hover {
      left: -310px;
    }
  }
  &-content {
    float: left;
    width: 65%;
  }
  &-description {
    margin: 20px 0;
  }
  &-view {
    &-reveal {
      float: right;
      width: 29%;
      height: 321px;
      background: $powder-blue;
      padding: 20px;
    }
  }
  &-image {
    float: left;
    margin-right: 20px;
  }
}
