/*========================================================
=            Main style sheet for application            =
========================================================*/
/*==========  No styles should be written in this file, ==========*/
/*==========  this is for imports only  ==========================*/
/* line 6, ../../bower_components/meyer-reset/stylesheets/_meyer-reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 16, ../../bower_components/meyer-reset/stylesheets/_meyer-reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../../bower_components/meyer-reset/stylesheets/_meyer-reset.scss */
body {
  line-height: 1;
}

/* line 22, ../../bower_components/meyer-reset/stylesheets/_meyer-reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../../bower_components/meyer-reset/stylesheets/_meyer-reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../../bower_components/meyer-reset/stylesheets/_meyer-reset.scss */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 35, ../../bower_components/meyer-reset/stylesheets/_meyer-reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 40, ../../bower_components/meyer-reset/stylesheets/_meyer-reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*==========  import partial sass component files  ==========*/
/* line 27, ../scss/components/utilities/_placeholders.scss */
.cancel.buttons, .confirm.buttons, .info.buttons, .disabled.buttons {
  border-radius: 5px;
  border: 1px solid #ffffff;
  padding: 10px;
  min-width: 100px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: "museo-sans-rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: none;
  cursor: pointer;
  transition: all .5s;
}

/* line 43, ../scss/components/utilities/_placeholders.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "jubilat", "Rockwell", serif;
  font-weight: 300;
}

/* line 2, ../scss/components/layout/_layout.scss */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* line 9, ../scss/components/utilities/_mixins.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 8, ../scss/components/layout/_layout.scss */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  z-index: 9999;
}

/* line 18, ../scss/components/layout/_layout.scss */
.vignette-column {
  width: 49%;
  margin-right: 20px;
  float: left;
}
/* line 22, ../scss/components/layout/_layout.scss */
.vignette-column:last-child {
  margin-right: 0;
}

/* line 1, ../scss/components/base/_base.scss */
body {
  padding-top: 120px;
  font-family: "museo-sans-rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 6, ../scss/components/base/_base.scss */
section {
  margin: 80px 0;
}

/* line 10, ../scss/components/base/_base.scss */
img {
  max-width: 100%;
}

/* line 14, ../scss/components/base/_base.scss */
input {
  outline: none;
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  text-align: center;
  font-size: 1rem;
  background: none;
}

/* line 23, ../scss/components/base/_base.scss */
h1 {
  font-size: 39px;
  font-size: 2.4414375rem;
  line-height: 42px;
  line-height: 2.625rem;
}

/* line 27, ../scss/components/base/_base.scss */
h2 {
  font-size: 31px;
  font-size: 1.953125rem;
  line-height: 36px;
  line-height: 2.25rem;
}

/* line 31, ../scss/components/base/_base.scss */
h3 {
  font-size: 25px;
  font-size: 1.5625rem;
  line-height: 30px;
  line-height: 1.875rem;
}

/* line 35, ../scss/components/base/_base.scss */
h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
}

/* line 39, ../scss/components/base/_base.scss */
h5 {
  font-size: 13px;
  font-size: 0.8rem;
  line-height: 18px;
  line-height: 1.125rem;
}

/* line 43, ../scss/components/base/_base.scss */
h6 {
  font-size: 10px;
  font-size: 0.64rem;
  line-height: 12px;
  line-height: 0.75rem;
}

/* line 48, ../scss/components/base/_base.scss */
body {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}

/* line 49, ../scss/components/utilities/_mixins.scss */
.cancel.buttons {
  background: #FFE3DB;
  color: #ff440f;
}
/* line 52, ../scss/components/utilities/_mixins.scss */
.cancel.buttons:before {
  content: "cancel";
}

/* line 49, ../scss/components/utilities/_mixins.scss */
.confirm.buttons {
  background: #DEF4E5;
  color: #45c16c;
}
/* line 52, ../scss/components/utilities/_mixins.scss */
.confirm.buttons:before {
  content: "confirm";
}

/* line 49, ../scss/components/utilities/_mixins.scss */
.info.buttons {
  background: #D6EEF5;
  color: #32aacd;
}
/* line 52, ../scss/components/utilities/_mixins.scss */
.info.buttons:before {
  content: "info";
}

/* line 49, ../scss/components/utilities/_mixins.scss */
.disabled.buttons {
  background: #EAEBEC;
  color: #7f858b;
  cursor: not-allowed;
}
/* line 52, ../scss/components/utilities/_mixins.scss */
.disabled.buttons:before {
  content: "disabled";
}
/* line 57, ../scss/components/utilities/_mixins.scss */
.disabled.buttons:hover {
  border: 1px solid #ffffff;
}
/* line 60, ../scss/components/utilities/_mixins.scss */
.disabled.buttons:active {
  background: #EAEBEC;
  color: #7f858b;
}

/* line 92, ../scss/components/utilities/_mixins.scss */
.cancel:hover {
  border: 1px solid #ff440f;
}
/* line 95, ../scss/components/utilities/_mixins.scss */
.cancel:active {
  background: #ff6c42;
  color: #ffffff;
  transition: 0.1s;
}

/* line 92, ../scss/components/utilities/_mixins.scss */
.confirm:hover {
  border: 1px solid #45c16c;
}
/* line 95, ../scss/components/utilities/_mixins.scss */
.confirm:active {
  background: #6bce8b;
  color: #ffffff;
  transition: 0.1s;
}

/* line 92, ../scss/components/utilities/_mixins.scss */
.info:hover {
  border: 1px solid #32aacd;
}
/* line 95, ../scss/components/utilities/_mixins.scss */
.info:active {
  background: #5bbbd7;
  color: #ffffff;
  transition: 0.1s;
}

/* line 92, ../scss/components/utilities/_mixins.scss */
.disabled:hover {
  border: 1px solid #7f858b;
}
/* line 95, ../scss/components/utilities/_mixins.scss */
.disabled:active {
  background: #9a9ea3;
  color: #ffffff;
  transition: 0.1s;
}

/* line 4, ../scss/_custom.scss */
.app-title {
  width: 50%;
  float: left;
}

/* line 10, ../scss/_custom.scss */
.vignette-wrapper {
  overflow: hidden;
  position: relative;
  min-height: 300px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 1px 3px 0px rgba(51, 51, 51, 0.2);
}
/* line 17, ../scss/_custom.scss */
.vignette-inner {
  position: absolute;
  width: 158.25%;
  top: 0;
  left: 0;
  transition: all 0.3s;
}
/* line 23, ../scss/_custom.scss */
.vignette-inner:hover {
  left: -335px;
}
/* line 27, ../scss/_custom.scss */
.vignette-content {
  float: left;
  width: 65%;
}
/* line 31, ../scss/_custom.scss */
.vignette-description {
  margin: 20px 0;
}
/* line 35, ../scss/_custom.scss */
.vignette-view-reveal {
  float: left;
  width: 30%;
  height: 321px;
  background: #D6EEF5;
  padding: 20px;
}
/* line 43, ../scss/_custom.scss */
.vignette-image {
  float: left;
  margin-right: 20px;
}
/* line 47, ../scss/_custom.scss */
.vignette-filter {
  width: 125px;
}
/* line 49, ../scss/_custom.scss */
.vignette-filter-label {
  font-weight: 700;
}
/* line 52, ../scss/_custom.scss */
.vignette-filter-text {
  font-style: italic;
  font-weight: 300;
}

/* line 60, ../scss/_custom.scss */
.filter-container {
  margin-bottom: 30px;
  float: right;
  width: 50%;
  padding-top: 20px;
}
/* line 66, ../scss/_custom.scss */
.filter-term {
  float: left;
  margin-right: 50px;
}

/* line 71, ../scss/_custom.scss */
.confirm {
  text-decoration: none;
}

/* line 75, ../scss/_custom.scss */
.main-header {
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.9);
}

/*# sourceMappingURL=main.css.map */
