/*========================================================
=            Main style sheet for application            =
========================================================*/
/*==========  No styles should be written in this file, ==========*/
/*==========  this is for imports only  ==========================*/
/*==========  import partial sass component files  ==========*/
/* line 27, ../scss/components/utilities/_placeholders.scss */
.cancel.buttons, .confirm.buttons, .info.buttons, .disabled.buttons {
  border-radius: 5px;
  border: 1px solid #ffffff;
  padding: 10px;
  min-width: 100px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: "museo-sans-rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: none;
  cursor: pointer;
  transition: all .5s;
}

/* line 43, ../scss/components/utilities/_placeholders.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "jubilat", "Rockwell", serif;
}

/* line 2, ../scss/components/layout/_layout.scss */
.main-container {
  max-width: 1200px;
}

/* line 6, ../scss/components/layout/_layout.scss */
.main-nav {
  float: left;
  width: 30%;
  margin-right: 10%;
  position: fixed;
  top: 0;
  left: 0;
}

/* line 15, ../scss/components/layout/_layout.scss */
.vignette-column {
  width: 60%;
  float: right;
}

/* line 1, ../scss/components/base/_base.scss */
section {
  margin: 80px 0;
}

/* line 5, ../scss/components/base/_base.scss */
body {
  padding: 30px;
  font-family: "museo-sans-rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 10, ../scss/components/base/_base.scss */
h1 {
  font-size: 39px;
  font-size: 2.4414375rem;
  line-height: 42px;
  line-height: 2.625rem;
  font-weight: 300;
}

/* line 15, ../scss/components/base/_base.scss */
h2 {
  font-size: 31px;
  font-size: 1.953125rem;
  line-height: 36px;
  line-height: 2.25rem;
}

/* line 19, ../scss/components/base/_base.scss */
h3 {
  font-size: 25px;
  font-size: 1.5625rem;
  line-height: 30px;
  line-height: 1.875rem;
}

/* line 23, ../scss/components/base/_base.scss */
h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
}

/* line 27, ../scss/components/base/_base.scss */
h5 {
  font-size: 13px;
  font-size: 0.8rem;
  line-height: 18px;
  line-height: 1.125rem;
}

/* line 31, ../scss/components/base/_base.scss */
h6 {
  font-size: 10px;
  font-size: 0.64rem;
  line-height: 12px;
  line-height: 0.75rem;
}

/* line 36, ../scss/components/base/_base.scss */
body {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}

/* line 49, ../scss/components/utilities/_mixins.scss */
.cancel.buttons {
  background: #FFE3DB;
  color: #ff440f;
}
/* line 52, ../scss/components/utilities/_mixins.scss */
.cancel.buttons:before {
  content: "cancel";
}

/* line 49, ../scss/components/utilities/_mixins.scss */
.confirm.buttons {
  background: #DEF4E5;
  color: #45c16c;
}
/* line 52, ../scss/components/utilities/_mixins.scss */
.confirm.buttons:before {
  content: "confirm";
}

/* line 49, ../scss/components/utilities/_mixins.scss */
.info.buttons {
  background: #D6EEF5;
  color: #32aacd;
}
/* line 52, ../scss/components/utilities/_mixins.scss */
.info.buttons:before {
  content: "info";
}

/* line 49, ../scss/components/utilities/_mixins.scss */
.disabled.buttons {
  background: #EAEBEC;
  color: #7f858b;
  cursor: not-allowed;
}
/* line 52, ../scss/components/utilities/_mixins.scss */
.disabled.buttons:before {
  content: "disabled";
}
/* line 57, ../scss/components/utilities/_mixins.scss */
.disabled.buttons:hover {
  border: 1px solid #ffffff;
}
/* line 60, ../scss/components/utilities/_mixins.scss */
.disabled.buttons:active {
  background: #EAEBEC;
  color: #7f858b;
}

/* line 92, ../scss/components/utilities/_mixins.scss */
.cancel:hover {
  border: 1px solid #ff440f;
}
/* line 95, ../scss/components/utilities/_mixins.scss */
.cancel:active {
  background: #ff6c42;
  color: #ffffff;
  transition: 0.1s;
}

/* line 92, ../scss/components/utilities/_mixins.scss */
.confirm:hover {
  border: 1px solid #45c16c;
}
/* line 95, ../scss/components/utilities/_mixins.scss */
.confirm:active {
  background: #6bce8b;
  color: #ffffff;
  transition: 0.1s;
}

/* line 92, ../scss/components/utilities/_mixins.scss */
.info:hover {
  border: 1px solid #32aacd;
}
/* line 95, ../scss/components/utilities/_mixins.scss */
.info:active {
  background: #5bbbd7;
  color: #ffffff;
  transition: 0.1s;
}

/* line 92, ../scss/components/utilities/_mixins.scss */
.disabled:hover {
  border: 1px solid #7f858b;
}
/* line 95, ../scss/components/utilities/_mixins.scss */
.disabled:active {
  background: #9a9ea3;
  color: #ffffff;
  transition: 0.1s;
}

/* line 5, ../scss/_custom.scss */
.vignette-wrapper {
  overflow: hidden;
  position: relative;
  min-height: 300px;
  max-width: 700px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 1px 3px 0px rgba(51, 51, 51, 0.2);
}
/* line 13, ../scss/_custom.scss */
.vignette-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 136%;
  transition: all 0.3s;
}
/* line 19, ../scss/_custom.scss */
.vignette-inner:hover {
  left: -194px;
}
/* line 23, ../scss/_custom.scss */
.vignette-content {
  float: left;
  width: 65%;
  padding: 20px;
}
/* line 32, ../scss/_custom.scss */
.vignette-view-reveal {
  float: right;
  width: 250px;
  height: 350px;
  background: aliceblue;
}
/* line 39, ../scss/_custom.scss */
.vignette-image {
  float: left;
  margin-right: 20px;
}

/*# sourceMappingURL=main.css.map */
