section {
	margin: 80px 0;
}

input {
	outline: none;
	border: none!important;
	border-bottom: 1px solid #ccc!important;
	text-align: center;
	font-size: 1rem;;
}

body {
	padding: 30px;
	font-family: $body-font-family;
}

h1 {
	@extend %base-heading-styles;
	@include type-scale(h1);
}
h2 {
	@extend %base-heading-styles;
	@include type-scale(h2);
}
h3 {
	@extend %base-heading-styles;
	@include type-scale(h3);
}
h4 {
	@extend %base-heading-styles;
	@include type-scale(h4);
}
h5 {
	@extend %base-heading-styles;
	@include type-scale(h5);
}
h6 {
	@extend %base-heading-styles;
	@include type-scale(h6);
}

body {
	@include type-scale(base);
}
