
<div class="vignette-details-specs">
  <img src="{{vignettes[vignetteId].thumb}}" alt="">
  <ul class="specs">
    <li class="specs-item"><span class="specs-title">Recommended Application: </span> {{vignettes[vignetteId].specs.application}}</li>
    <li class="specs-item"><span class="specs-title">Difficulty: </span>{{vignettes[vignetteId].specs.difficulty}}</li>
    <li class="specs-item"><span class="specs-title">Related Resources: </span>{{vignettes[vignetteId].specs.relatedResources}}</li>
    <li class="specs-item"><span class="specs-title">Price: </span>{{vignettes[vignetteId].specs.price}}</li>
    <li class="specs-item"><span class="specs-title">Contributor: </span>{{vignettes[vignetteId].specs.contributor}}</li>
  </ul>
  <a href="#" class="confirm buttons">Add to Cart</a>
</div>

<div class="vignette-details">
  <h1 class="vignette-title">{{vignettes[vignetteId].name}} <span class="rating">{{vignettes[vignetteId].rating}}</span></h1>

  <p class="extended-description">{{vignettes[vignetteId].longDesc}}</p>
</div>

<div class="specs-data-table">
  <ul class="specs-data-table-row">
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
  </ul>
  <ul class="specs-data-table-row">
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
  </ul>
  <ul class="specs-data-table-row">
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
  </ul>
  <ul class="specs-data-table-row">
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
  </ul>
  <ul class="specs-data-table-row">
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
    <li class="specs-data-table-cell">some data</li>
  </ul>
</div>
