
  <article class="vignette-view" ng-repeat="vignette in vignettes">
    <div class="vignette-wrapper">
      <div class="vignette-inner">
        <div class="vignette-content">
          <img class="vignette-image" src='{{vignette.image}}'/>
        </div>
        <div class="vignette-view-reveal">
          <h1>{{vignette.name}}</h1>
          <p class="vignette-description">{{vignette.description}}</p>
          <button class="confirm buttons"></button>
        </div>
      </div>
    </div>
  </article>
