
  <article class="vignette-view" ng-repeat="vignette in vignettes | filter:query | orderBy: 'name'">
    <div class="vignette-wrapper">
      <div class="vignette-inner">
        <div class="vignette-content">
          <img class="vignette-image" ng-src='{{vignette.image}}'/>
        </div>
        <div class="vignette-view-reveal">
          <h3>{{vignette.name}}</h3>
          <p class="vignette-description">{{vignette.description}}</p>
          <a href="/home" class="confirm buttons"></a>
        </div>
      </div>
    </div>
  </article>
